<!-- Fixed navbar -->
<header>
  <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>
          <a class="navbar-brand" href="{{ url('') }}">Application name</a>
        </h1>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">{{ translate("Dashboard") }}</a></li>
          <li><a href="#about">{{ translate("About") }}</a></li>
          
        </ul>
      </nav><!--/.nav-collapse -->
    </div>
  </div>
</header>