<h1 class="page-header">{{ translate("Slick web application template") }}</h1>
<p class="lead">
    {{ translate("This is a simple Slick framework web application template.") }}<br />
    {{ translate("It has the basic folder structure and application startup files you need to have to start developing your amazing application.") }}
</p>