{% extends 'default-layout.twig' %}

{% block main_content %}
    <h1><a href="{{ url('home') }}">{{ message }}</a></h1>
    <p class="lead">Basic application with <code>slick/webstack</code> package.</p>
{% endblock %}